.Sign {
    &-container {
        position: relative;
        top: 0;
        margin: 0;
        animation: sway 4s ease-in-out;
    }
    
    
    &-image {
        position: relative;
        height: 200px;
        display: block;
        width: 500px;
        z-index: 0; 
    }

    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; 
        font-size: 40px;
    }
    @keyframes sway {
        0% {
            transform:translateX(76px);
            }
            
          10% {
            transform:translateX(-76px);
            }
  
          20% {
              transform:translateX(57px);
            }

          30% {
              transform:translateX(-57px);
            }

          40% {
              transform:translateX(38px);
            }
  
          50% {
              transform:translateX(-38px);
            }
  
          60% {
              transform:translateX(19px);
            }
  
          70% {
              transform:translateX(-19px);
            }
  
          80% {
              transform:translateX(0px);
            }
  
          100% {
              transform:translateX(0px);
            }
        

      }
}