.MenuButton {

    &-text {
        
    }
    
    &-button {
        background-color: rgba(0, 163, 255, 0);
        cursor: pointer;
        border: none;
        box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	    transition: .3s;
    }

    &-button:hover {
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	    transform: translateY(-4px);
    }

    &-button:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        border-bottom: none;
    }

}