.BoardContent {
    &-container {
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(237, 155, 32, 0.20);
    }
}