.Main {
    
    &-index {    
        &-container {
    }
    }
    &-tagwall {
        &-container {
            width: auto;
            margin: 0 auto;
        }
    }

    &-login {
        display: flex;
        justify-content: center;
        background: rgba(234, 184, 138, 0.41);
    }
    &-registration {
        display: flex;
        justify-content: center;
        background: rgba(234, 184, 138, 0);
    }

}