.Main {
    &-index {    
        &-container {
    }
    }
    &-tagwall {
        &-container {
            width: auto;
            margin: 0 auto;
        }
    }

    &-login {
        display: flex;
        justify-content: center;
    }
}