.BoardDescription {
    &-highlight-text {
        color: #D62B2B;
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &-normal-text {
        color: #000;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 8px;
        
    }

    &-container {
        margin: 15px 0px;

    }

      

}