.Header {
 &-index{
    &-container {
        display: flex;
        justify-content: center; 
        margin-left: auto;
        margin-right: auto;
        max-width: 850px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; 
        right: 0;
    }
    &-image {
        width: 100%;
        height: 185px;
        background: cover no-repeat ;
        opacity: 60%;
    }
}
 &-tagwall {
    width: 100%;
    height: 180px;
    flex-shrink: 0;
    background-color: rgba(0, 163, 255, 0.31);
    display: flex;
    align-items: center;

    &-image {
        width: 60px;
        height: 80px;
        margin-left: auto;
    }

    &-registration-container{
        margin-right: 30px;
        margin-left: auto;
    }
    
    &-registration-button {
        background-color: rgba(0, 163, 255, 0);
        cursor: pointer;
        border: none;
        box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	    transition: .3s;
    }

    &-registration-button:hover {
        box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	    transform: translateY(-4px);
    }

    &-registration-button:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        border-bottom: none;
    }

    
 }
}