.Header {
    &-index{
        &-container {
            display: flex;
            justify-content: center; 
            margin-left: auto;
            margin-right: auto;
            max-width: 850px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0; 
            right: 0;
        }
        &-image {
            width: 100%;
            height: 185px;
            background: cover no-repeat ;
            opacity: 60%;
        }
    }
    &-tagwall {
        width: 100%;
        height: 180px;
        flex-shrink: 0;
        background-color: rgba(0, 163, 255, 0.31);
        display: flex;
        align-items: center;

        &-registration-container{
            margin-right: 30px;
            margin-left: auto;
        }

        &-username {
            width: 500px;  
            flex-shrink: 0;
            color: #000;
            text-align: center;
            font-family: "Inter";
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-warning {
            height: 100%;
            width: 100%;
            color: #D62B2B;
            text-align: center;
            font-family: "Inter";
            font-size: 50px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: auto;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
        
        }
        &-hanging-sign {
            position: absolute;
            top: 0;
            right: 400px;
            margin-right: 30px;
        }

 }

    &-login {
        display: flex;
        justify-content: center;
        background: rgba(234, 184, 138, 0.41);
    }

    &-registration {
        display: flex;
        justify-content: center;
        background: rgba(234, 184, 138, 0);
    }
}