.LoginButton {
    &-button {
        width: 280px;
        height: 102px;
        flex-shrink: 0;
        border: 2px solid transparent;
        background: #3498DB;
        color: #ffffff;
        font-size: 40px;
        line-height: 25px;
        padding: 10px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        display: block;
        width: 250px;
        margin: 0 auto 30px auto;

        :hover{
            background-color: #2980B9;
        }
    }
}