.Chain {
  &-chain {
    height:20px;
    width: 20px;
    background:
    radial-gradient(10px 10px at 50% 0%,#66666600 46%,#666666 50%,#dddddd 73%,#666666 96%,#66666600 100%) 11px 10px/22px 20px
    ,radial-gradient(10px 10px,#66666600 46%,#666666 50%,#eeeeee 73%,#666666 96%,#66666600 100%) 0px 0px/22px 20px
    ,radial-gradient(10px 10px at 50% 100%,#66666600 46%,#666666 50%,#dddddd 73%,#666666 96%,#66666600 100%) 11px 10px/22px 20px
    ;
    position: absolute;
    left: 20%;
    transform: rotate(90deg);

  }
  @for $i from 0 through 99 {
    &-chain {
      &:nth-child(#{$i + 1}) {
        animation: sway-#{$i} 2s ease-in-out infinite alternate;
      }
    }
  
    @keyframes sway-#{$i} {
      0% {
        transform: rotate(90deg) translateY(-20-$i*1px);
      }
      100% {
        transform: rotate(90deg) translateY(20+$i*1px);
      }
    }
}

  
}