.ContentBoardTitle {
    &-container {
    }
    &-bold {
        color: #000;
        text-align: center;
        justify-content: center;
        display: flex;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        align-items: center;
    }
    &-normal {
        color: #000;
        text-align: center;
        justify-content: center;
        display: flex;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        align-items: center;
    }
}