.SelectTable {
    &-container {
        width: 200px;
    }
    &-contentName {
        width: 62px;
        height: 43px;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-family: "Inter";
        font-size: 40.333px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}